<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="public/images/icon.ico" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="public/styles/style.css"/>
    <title>EmanHomes</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light emnav">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="public/images/WhatsApp Image 2021-01-06 at 19.18.01asdasdasasdas.png" alt="" width="40" height="40">EmanHomes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#About">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Homes">Our Homes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Contact">Contact</a>
              </li>
              <% if(!user){ %>
                <li class="nav-item">
                  <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#exampleModalreg">Register</a>
                </li>
              <% }else{ %>
              <li class="nav-item">
                <a class="nav-link" href="/addhouse">Add House</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>

    <!-- Landing -->
    <div class="landing" id="Home">
        <div class="container d-flex flex-column justify-content-center landing-body">
            <div class="col-md-7 landing-content">
                <h1>EmanHomes</h1>
                <p style="color: #fff;">
                  Looking to buy a new home? EmanHomes has you covered with a wide range of luxury apartments with stunning designs.
                </p>
                <a class="btn btn-primary" href="#Homes">
                    Browse Homes
                </a>
            </div>
        </div>
    </div>



    <!-- Desc -->
    <div id="About" class="container desc-container">
       <div class="row">
        <div class="col-md-6 desc-banner">
            <img src="public/images/WhatsApp Image 2021-01-05 at 20.47.45.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <div class="desc-content">
                <h2 class="blue-content">Find Quality Homes 
                    at Affordable prices</h2>
                <!-- <ul>
                    <li>Lorem ipsul dolor sit amet</li>
                    <li>Lorem ipsul dolor sit amet</li>
                    <li>Lorem ipsul dolor sit amet</li>
                </ul> -->
                <p class="desc-text">
                  Our homes are well built with everything you need. You can get your house in any area or town at affordable prices. Eman homes is ready to help you with all diligence. Just contact us now!
                </p>
            </div>
        </div>
       </div>
    </div>

    <!-- Gallery -->
    <!-- <div class="gray-container">
      <div class="row content-row">
        <div class="col-md-6 content" id="contentDiv1">
          <h2 class="white-content">Who We Are</h2>
          <p class="white-content" id="par1">Eman Homes is a real estate development agency located at East Legon .We also do Property management, House rentals and sales, land sales etc.</p>
        </div>
        <div id="imgDiv1" class="col-md-6 imgDiv"></div>
      </div>

      <div class="row content-row">
        <div id="imgDiv2" class="col-md-6 imgDiv"></div>
        <div class="col-md-6 content" id="contentDiv2">
          <h2 class="white-content">Our Values</h2>
          <p class="white-content" id="par2">At EmanHomes, the happiness of our customers is our topmost priority and thus, we work our best, day in and day out, to ensure that their needs our met to the smallest detail.</p>
        </div>
      </div>
    </div>
     -->

    <!-- Homes -->
    <div id="Homes" class="container homes">
      <h2 class="text-center blue-content text-uppercase ourHomes">Our Homes</h2>
      <div class="row" id="housesDiv" data-houses="<%= houses %>" >

            <% for(let home of houses){ %>
            <div class="col-md-3 box hidden" href="home.html">
              <div class="box-inner">
                <a href="/home/<%= home._id %>"><img  src="<%= home.coverPhoto %>" class="card-img-top" alt="..."></a>
                <div class="text-box">
                  <a href="/home/<%= home._id %>" class="home-link"><h5 class=""><%= home.description %></h5></a>
                  <p>Street / Landmark: <%= home.location %></p>
                  <p>Size: <%= home.size %> sqft</p>
                  <small>Building Status  <%= home.buildingStatus %>% Complete</small>
                  <div class="price">
                    <p>Price: $<%= home.price %> </p>
                  </div>
                </div>
                </div>
              </div>
              <% } %>

      </div>
      <div class="row btn-row d-flex justify-content-md-center">
        <button class="btn btn-warning sm-btn white-content" id="seeMore">See more</button>
      </div>
    </div>


    <!-- Reviews -->
    <div class="revs">
      <div id="Reviews" class="review-body container">
        <div class="row"><h2 class="text-center blue-content text-uppercase">Customer Reviews</h2></div>
        <div class="review-body row d-flex justify-content-md-around">
            <div class="card review" style="width: 30rem; margin-bottom:5em;">
                <!-- <img src="images/WhatsApp Image 2021-01-05 at 20.47.44.jpeg" class="card-img-top" alt="..."> -->
                <div class="card-body review-inside-body">
                  <p class="card-text review-text">Great environment, professional and nice people, clean and beautiful office set up. They care about their clients and train their agents frequently so they are always updated with what’s going on in the market. I recommend EmanHomes to anyone looking to do any Real Estate transaction.</p>
                    <small class="text-warning text-end">-Anonymous</small>
                </div>
              </div>
    
              <div class="card review" style="width: 30rem; margin-bottom:5em;">
                <!-- <img src="images/WhatsApp Image 2021-01-05 at 20.47.42.jpeg" class="card-img-top" alt="..."> -->
                <div class="card-body review-inside-body">
                  <p class="card-text review-text">EmanHomes was more than helpful in finding us an apartment in Accra. They were extremely honest, upfront, and was able to find us a great apartment that fit right in our price range! They were extremely communicative and easy to reach to answer any of our questions at all times.</p>
                    <small class="text-warning text-end">-Anonymous</small>
                </div>
              </div>
    
              <div class="card review" style="width: 30rem; margin-bottom:5em;">
                <!-- <img src="images/WhatsApp Image 2021-01-05 at 20.47.56.jpeg" class="card-img-top" alt="..."> -->
                <div class="card-body review-inside-body">
                  <p class="card-text review-text">I purchased through EmanHomes and found their level of service to be above and beyond and I would highly recommend them to any future purchasers if they require a great level of service.</p>
                    <small class="text-warning text-end">-Anonymous</small>
                </div>
              </div>
    
              <div class="card review" style="width: 30rem; margin-bottom:5em;">
                <!-- <img src="images/WhatsApp Image 2021-01-05 at 20.45.16.jpeg" class="card-img-top" alt="..."> -->
                <div class="card-body review-inside-body">
                  <p class="card-text review-text">Thank you EmanHomes for all your hard work in the purchase of our new home, we would highly recommend anyone to contact EmanHomes to assist them with the purchase or sale of their home.<br/>
                    Thank you</p>
                    <small class="text-warning text-end">-Anonymous</small>
                </div>
              </div>
              
        </div>
    </div>
    </div>
    <!-- Contact -->
    <div id="Contact" class="contact">
        <div class="container contact-inner">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h2 class="white-content r2g">Ready to get a Home today?</h2>
                </div>
                <div class="col-md-5 offset-md-1">
                  <% if(message){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%= message %>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                    <form action="/contact" method="POST" class="row c-form">
                        <h3 class="text-center">Contact us</h3>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                          </div>
                          <div class="col-md-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
                          </div>
                          <div class="col-md-12">
                            <textarea class="col-12 msg-textarea" name="message" placeholder="message"  rows="6"></textarea>
                          </div>
                          <div class="col-md-12 btn-div">
                            <button class="btn btn-warning sbtn" type="submit">Submit</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
          <div class="row"><h3 class="white-content">EmanHomes</h3></div>
          <div class="row d-flex justify-content-md-between">
              <div class="col-md-4">
                  <ul class="footer-list">
                      <li><a href="#Home">Home</a></li>
                      <li><a href="#About">About</a></li>
                      <li><a href="#Homes">Our Homes</a></li>
                      <li><a href="#Contact">Contact</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <div class="socials">
                    <a class="socials-link" href="https://www.facebook.com/eman.homes.737" target="blank"><img src="public/images/bx_bxl-facebook.png" alt="facebook"></a>
                    <a class="socials-link" href="https://www.linkedin.com/in/eman-homes-8446b6202" target="blank"><img src="public/images/cib_linkedin-in.png" alt="twitter"></a>
                    <a class="socials-link" href="https://www.instagram.com/p/CKmku06JkwG/?utm_source=ig_web_button_share_sheet" target="blank"><img src="public/images/ant-design_instagram-outlined.png" alt="instagram"></a>
                  </div>
                  <div class="call">
                          <img src="public/images/fluent_call-24-regular.png" alt="call">
                          <div class="phone">
                            <p class="white-content">+233 20 584 3775</p>
                            <p class="white-content">+233 56 448 0444</p>
                          </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

        <!-- Modal starts -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form id="loginform" action="/user/login" method="POST" class="mx-5 mt-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
          </div>
        </form>
         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="loginbtn">Login</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalreg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="mx-2 my-2" style="color: red;" id="register-error"></p>
          <form id="registerform" action="/user/register" method="POST" class="mx-5 mt-4">
            <div class="mb-3">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" required="true" class="form-control" name="firstname" id="firstname" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" required="true" class="form-control" name="lastname" id="lastname">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" required="true" class="form-control" name="email" id="email">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" required="true" class="form-control" name="phone" id="phone">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" required="true" class="form-control" name="password" id="password">
            </div>
            <div class="mb-3">
              <label for="cpassword" class="form-label">Confirm Password</label>
              <input type="password" required="true" class="form-control" name="cpassword" id="cpassword">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="registerbtn">Register</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal ends -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
    crossorigin="anonymous"></script>
    <script type="text/javascript">
      var visibleNumber = 0
      const houses = document.querySelectorAll(".box")
      const seeMore = document.querySelector("#seeMore")

      const showMore = () =>{
        let count = 0
        if(visibleNumber <= houses.length){
          visibleNumber+=4
          houses.forEach(house =>{
            if(count < visibleNumber)house.classList.remove("hidden")
            count++
          })

        }else{
          seeMore.classList.add("hidden")
        }
        
      } 
      showMore();
      seeMore.addEventListener("click", () => showMore())


      const loginbtn = document.querySelector("#loginbtn")
      const registerbtn = document.querySelector("#registerbtn")

      loginbtn.addEventListener("click", ()=>{
        document.getElementById("loginform").submit()
      })

      registerbtn.addEventListener("click", ()=>{
        let password = document.getElementById("password").value
        let cpassword = document.getElementById("cpassword").value

        if(password == cpassword){
          document.getElementById("registerform").submit()
        }else{
          document.getElementById("register-error").innerHTML = "Passwords do not match"
        }
      
      })

    </script>
</body>
</html>